.playlist {
	margin: 2rem 0;

	ul {
		list-style: none;
	}

	li {
		overflow: hidden;
		padding: 0.5rem;
		border-bottom: 1px solid #AAA;
		line-height: 2.2rem;

	}
	li:last-child {
		border: none;
	}

	span.adder {
		display: block;
		float: right;
		font-size: 0.9rem;
		line-height: 1.0rem;

		time {
			display: block;
			font-size: 0.7rem;
		}
	}
}