.playlist {
	margin: 2rem 0;

	ul {
		list-style: none;
	}

	li {
		overflow: hidden;
		padding: 0.5rem;
		border-bottom: 1px solid #AAA;
		line-height: 2.2rem;

	}
	li:last-child {
		border: none;
	}

    h3 {
      display: inline;
      float: left;
      font-size: 1.5rem;
    }

	span.adder {
      display: block;
      text-align: right;
      font-size: 0.9rem;
      line-height: 1.0rem;

      time {
        display: block;
        font-size: 0.7rem;
      }
	}

    .fa-close {
      display: inline-block;
    }
}