.admin {
  textarea {
    width: 100%;
    height: 7rem;
    resize: none;
    font-size: 1.5rem;
    padding: 0.5rem;
    font-family: Georgia, serif;
  }

  section {
    margin: 2rem 0;
  }

  .playlisturl {
    padding: 0.5rem;
    fontsize: 1.3rem;
    width: 100%;
  }
}