@import "partials/_playlist"
@import "partials/_shops"
@import "partials/_login"

// body {
// 	background: url(../imgs/bg.jpg) center center no-repeat fixed;
// 	background-size: cover;
// }

h1,h2,h3,h4,h5,h6 {
	font-weight: normal;
}

.wrapper {
	width: 700px;
	margin: 0 auto;
	padding: 1rem;
	/*background: rgba(255,255,255, 0.9);*/
}

header {
	h1 {
		font-weight: bold;
	}
}

section.map {
  iframe {
    border: 1px solid gray;
  }
}

.splashpage {
  color: white;
  font-weight: normal;
  font-size: 1.5rem;
  text-align: center;
  width: 400px;
  margin: 3rem auto;

  p {
    margin-bottom: 1em;
  }

  img.loginWithTwitter {
    margin: 1rem 0;
  }

  img.splashlogo {
    max-width: 300px;
  }
}

video.fullpage {
  position: fixed;
  width: auto;
  min-width: 100%;
  height: auto;
  min-height: 100%;
  z-index: -100;
  background-size: cover;
}

.shop {
  background: url(imgs/bg.jpg) center center no-repeat fixed;
  background-size: cover;

  .wrapper {
    background: rgba(255,255,255, 0.85);
  }
}